   <item>
    <title><%= article_rss.title %></title>
    <guid><%= article_url(article_rss) %></guid>
    <link><%= article_url(article_rss) %></link>
    <pubDate><%= article_rss.created_at.to_formatted_s :rfc822 %></pubDate>
   </item>
