<% provide(:title, 'Home') %>
<ul class="blog"><% if @articles.empty? %><!--
 --><li>
  <article>
   There are no articles to display.
  </article>
 </li><% else %><!--
 <%= render :partial => 'articles/article_list', :collection =>  @articles %>
<% end %>--></ul>
<div class="pages">
 <span class="prev"><%= render_newer @articles %></span>
 <span class="go"><%= render_older @articles %></span>
</div>
