<% provide(:title, 'Portfolio') %>
<article>
 <p>Well aren't you sneaky?</p>
 <p>I haven't gotten around to implementing the portfolio page yet. In the mean
 time, you can find my projects on GitHub. Sorry for the inconvenience!</p>
</article>
