<% provide(:title, 'Home') %>
<ul class="blog">
</ul>
<div class="pages">
 <% if @articles.empty? %>
  <article>
    There are no articles to display.
  </article>
 <% else %>
   <%= render @articles %>
 <% end %>
 <span class="prev"><%= render_newer @articles %></span>
 <span class="go"><%= render_older @articles %></span>
</div>
