<% provide(:title, 'Home') %>
<ul class="blog">
</ul>
<div class="pages">
 <% if @articles.empty? %>
  <article>
    There are no articles to display.
  </article>
 <% else %>
   <%= render @articles %>
 <% end %>
 <%== render_newer @articles %>
 <%== render_older @articles %>
</div>
