    </div><!--
    --><div class="side">
     <p>
      I'm Alexandre Beaulieu, a C++ software developer with a passion for
      software design &amp; architecture. I'm interested in networking,
      compilers and distributed systems. I work in the IP video surveillance
      industry and deal with camera integration in a distributed fault tolerant
      environment.
     </p>
     <p>
      In my spare time, I enjoy web development, learning Japanese and jogging.
      I also like to pretend I am a system administrator and read books.
      Find me on <a href="http://www.github.com/alxbl">GitHub</a> to keep up to
      date with my latest projects.
     </p>
     <div class="island">
      <h2>I'm currently working on...</h2>
      <p>
       <a href="http://www.github.com/alxbl/quiche.git">quiche</a>, a Mint clone written in Python &amp; Django.
      </p>
     </div>
    </div>
   </div>
  </div>
  <footer class="feet">
   <div class="c">
    <p>Copyright &copy; 2013 Alexandre Beaulieu &mdash; <%= link_to 'CC BY-SA 3.0', 'https://creativecommons.org/licenses/by-sa/3.0/' %></p>
    <p>
     Find me on <a href="https://twitter.com/alxbl">twitter</a>,
     <a href="http://webchat.freenode.net/">freenode</a>,
     <a href="http://www.github.com/alxbl">github</a>,
     <a href="https://bitbucket.org/alxbl">bitbucket</a> and
     <a href="http://stackoverflow.com/users/424216/alxbl">stack overflow</a>.
    </p>
    <ul class="tech">
     <li>Ruby Enterprise 1.8.7</li>
     <li>nginx 1.2.7</li>
     <li>inuit.css 5.0</li>
     <li>git 1.7.9</li>
    </ul>
   </div>
  </footer>
 </body>
</html>
